body {
    background-color: #e7e7e7;
}

#main-navigation {
    background-color: #390281;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#info {
    margin: 8rem auto 3rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 90rem;
    border-radius: 16px;
    background-color: #5706c0;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    height: 22rem;
}

#info h2 {
    color: white;
    font-size: 2.5rem;
    max-width: 60%;
}



#info article {
    position: absolute;
    top: 2rem;
    right: 3rem;
    padding: 1rem 2rem;
    border-radius: 12px;
    text-align: right;
    color: white;
}

#info article img {
    width: 12rem;
    height: 12rem;
    border-radius: 12px;
    transform: rotateZ(5deg);
    border: 5px solid white;
    margin-bottom: 1rem;
}

#info address {
    font-weight: bold;
}

#info time {
    font-weight: bold;
}

main {
    width: 90%;
    max-width: 90rem;
    margin: 3rem auto;
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#tags>* {
    display: inline;
}

#tags {
    margin-top: 3rem;
}


.tag a {
    background-color: #5706c0;
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    margin-top: 3rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.tag a:hover {
    background-color: #9340ff;
}